---
layout: base.njk
---
<em style="font-size: 90%;">~ 
{% for tag in tags | reject('equalto', 'blog') %}
<a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
{% endfor %}
 ~</em>
<article>{{ content | safe }}</article>

<p>☜ <em style="font-size: 90%;"><a href="/blog/">Back to all postings</a></em></p>

{% if webmentions.entries %}
  <section id="webmentions">
    <h3>Comments</h3>
    {% for entry in webmentions.entries %}
      {% if entry.type == "comment" %}
        <article>
          <a href="{{ entry.author.url }}">
            <img src="{{ entry.author.photo }}" alt="{{ entry.author.name }}">
          </a>
          <p>{{ entry.content.text | safe }}</p>
          <time>{{ entry.published }}</time>
        </article>
      {% endif %}
    {% endfor %}

    <h3>Likes</h3>
    {% for entry in webmentions.entries %}
      {% if entry.type == "like-of" %}
        <a href="{{ entry.url }}">{{ entry.author.name }}</a> liked this.
      {% endif %}
    {% endfor %}
  </section>
{% endif %}