<!-- <a href="/">Origin</a> -->
<a href="/about/">Regarding</a>
<a href="/links/">Hyperlinks</a>
<a href="/blog/">Web Log</a>
<a href="/contact/">Correspondence</a>
<a href="/feed.xml">Subscription</a>

<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 800 20" preserveAspectRatio="none">
  <path d="M0,10 C200,0 600,20 800,10" fill="none" 
        stroke="var(--border)" stroke-width="1"/>
</svg>