---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog
permalink: "/tags/{{ tag | slugify }}/"
eleventyComputed:
  title: "{{ tag }}"
layout: base.njk
---
<h3>Postings in &ldquo;{{ tag }}&rdquo;</h3>

<ul>
{% for post in collections[tag] %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
{% endfor %}
</ul>

<p>☜ <em style="font-size: 90%;"><a href="/blog/">Back to all posts</a></em></p>